---
import Layout from "../layouts/Layout.astro";
import PageNotFound from "../../public/404.avif";
import { Image } from "astro:assets";
---

<Layout title="Error 404 | Page Not Found">
  <section class="w-full h-screen flex flex-col justify-center items-center bg-[#252B42]">
    <Image src={PageNotFound} alt="Error 404 Page Not Found" class="max-sm:size-72"/>
    <h2 class="text-xl sm:text-4xl font-bold text-[#23A6F0]">Error 404 Page Not Found</h2>
  </section>
</Layout>
