---
import Layout from "../layouts/Layout.astro";
import PageNotFound from "../../public/404.avif";
import { Image } from "astro:assets";
---

<Layout title="Error 404 | Page Not Found">
  <section class="w-full flex flex-col justify-center items-center">
    <Image src={PageNotFound} alt="Error 404 Page Not Found" />
    <h2 class="text-4xl font-bold text-[#23A6F0]">Error 404 Page Not Found</h2>
  </section>
</Layout>
