---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Bienvenido a Physionic.">
	<main>
		<Navbar />
		<Hero />
	</main>
</Layout>

<script>
	alert('Sitio en desarrollo por 7R0N1X')
</script>
