---
const {class: className, title, description} = Astro.props
---

<section class={`${className} w-full py-20 max-sm:px-4`}>
  <h2 class="text-4xl font-bold text-center text-[#252B42] mb-5">{title}</h2>
  <p class="sm:text-lg text-center text-[#737373] mb-14">{description}</p>
  <slot />
</section>