---
import Container from "./Container.astro"
import FaqAccordion from "./FaqAccordion.astro"
---

<Container class="bg-white text-[#252B42]" title="FAQ" description="Encuentra respuestas a las preguntas más comunes sobre nuestros servicios.">
  <section class="w-full max-w-screen-xl mx-auto flex flex-col flex-wrap sm:flex-row justify-center items-center gap-7">
    <FaqAccordion />
  </section>
</Container>