---
import ReviewCard from "./ReviewCard.astro"
---

<section class="w-full py-20 bg-[#FAFAFA] max-sm:px-4">
  <h2 class="text-4xl font-bold text-center text-[#252B42] mb-5">Reseñas</h2>
  <p class="sm:text-lg text-center text-[#737373] mb-14">Descubre lo que nuestros clientes tienen que decir sobre nuestros servicios.</p>
  <section class="w-full max-w-screen-xl mx-auto flex flex-col sm:flex-row max-lg:overflow-x-auto max-lg:justify-start justify-center items-center gap-7 scroll-container sm:p-4">
    <ReviewCard />
  </section>
</section>
