---
import Container from "./Container.astro"
import ReviewCard from "./ReviewCard.astro"
---

<Container id="reseñas" class="bg-[#FAFAFA] text-[#252B42]" title="Reseñas" description="Descubre lo que nuestros clientes tienen que decir sobre nuestros servicios.">
  <section class="w-full max-w-screen-xl mx-auto flex flex-col sm:flex-row max-lg:overflow-x-auto max-lg:justify-start justify-center items-center gap-7 scroll-container sm:p-4">
    <ReviewCard />
  </section>
</Container>
