---
import ServiceCard from "./ServiceCard.astro"
---
<section class="w-full max-w-screen-xl my-20 mx-auto px-4">
  <h2 class="text-4xl font-bold text-center text-[#252B42] mb-5">Medicina líder</h2>
  <p class="sm:text-lg text-center text-[#737373] mb-20">Innovación en medicina y tecnología para brindar atención médica de vanguardia.</p>
  <section class="w-full flex flex-col flex-wrap sm:flex-row justify-center items-center gap-7">
    <ServiceCard />
  </section>
</section>
