---
import Container from "./Container.astro"
import ServiceCard from "./ServiceCard.astro"
---

<Container id="servicios" class="text-[#252B42]" title="Medicina líder" description="Innovación en medicina y tecnología para brindar atención médica de vanguardia.">
  <section class="w-full flex flex-col sm:flex-row max-lg:overflow-x-auto max-lg:justify-start justify-center items-center gap-7 scroll-container sm:py-4 sm:px-4">
    <ServiceCard />
  </section>
</Container>
