---
import Container from "./Container.astro"
---

<Container class="bg-[#252B42] text-white" title="Suscríbete a Nuestro Boletín de Salud">
  <section class="w-full max-w-screen-xl mx-auto sm:p-4">
    <form class="flex justify-center">
      <label for="email" class="sr-only">Correo Electrónico</label>
      <input id="email" type="email" placeholder="Tu Email" class="h-14 w-96 py-4 pl-5 rounded-l-md border-none focus:outline-none text-[#252B42]" required>
      <button type="submit" class="bg-[#23A6F0] text-white px-6 rounded-r-md hover:bg-blue-600">Suscribirse</button>
    </form>
  </section>
</Container>
